.about {
  background-color: $about-background;
  display: flex;
  flex-direction: column;

  &__page-1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1em 0 2em;

    &__bio {
      flex-grow: 1;
      text-align: center;
    }
  }
}

.me-img {
  background-image: url(../images/me.png);
  background-size: cover;
  $width: 120px;
  height: $width;
  width: $width;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid gray;
}
