.about {
  background-color: $about-background;

  &__page-1 {
    box-sizing: border-box;
    height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-direction: column;
    padding: 1em 0 2em;

    &__bio {
      flex-grow: 1;
    }

    &__see-more {
      opacity: 0;

      @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
      @keyframes upDown { from { transform: translateY(0); } to { transform: translateY(0.3em); } }

      animation-name: fadeIn, upDown;
      animation-iteration-count: 1, infinite;
      animation-duration: $animation-duration;
      animation-timing-function: ease, ease-in-out;
      animation-delay: $animation-duration, (2 * $animation-duration);
      animation-direction: normal, alternate;
      animation-fill-mode: forwards;
    }
  }

  &__page-2 {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 1em;
  }
}

.me-img {
  background-image: url(../images/me.png);
  background-size: cover;
  $width: 120px;
  height: $width;
  width: $width;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid gray;
}
