.home {
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(../images/sanfran-l.jpg);

  @media (max-width: $bp-medium) {
    background-image: url(../images/sanfran-m.jpg);
  }

  @media (max-width: $bp-small) {
    background-image: url(../images/sanfran-s.jpg);
  }

  @media (max-width: $bp-x-small) {
    background-image: url(../images/sanfran-xs.jpg);
  }
}
