@import '../variables';

.navbar {
  z-index: 1;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  right: 0;
  height: $navbar-height;
  line-height: $navbar-height;
  padding: 0 25px;
}

.navbar__logo {
  display: inline-block;
  text-align: center;

  $height: (4/7) * $navbar-height;
  line-height: $height;
  height: $height;
  width: (6/7) * $navbar-height;

  border: 3px solid black;
  border-radius: (6/35) * $navbar-height;
  font-size: (12/35) * $navbar-height;
  text-decoration: none;
  color: black;
}

.navbar__links-container {
  height: 100%;
  float: right;
}

.navbar__link {
  text-align: center;
  width: 100px;
  display: inline-block;
  height: 100%;
  line-height: $navbar-height;
  text-decoration: none;
  color: black;

  &:hover, &--active {
    background-color: $navbar-link-active;
  }
}
