.navbar {
  box-sizing: border-box;
  height: $navbar-height;
  background-color: rgb(255, 255, 255);
  width: 100%;
  line-height: $navbar-height;
  padding: 0 25px;
  @media (max-width: $bp-small) {
    padding: 0 0 0 25px;
  }
}

.navbar__logo {
  display: inline-block;
  text-align: center;

  $height: (4/7) * $navbar-height;
  line-height: $height;
  height: $height;
  width: (6/7) * $navbar-height;

  border: 3px solid black;
  border-radius: (6/35) * $navbar-height;
  font-size: (12/35) * $navbar-height;
  text-decoration: none;
  color: black;
}

.navbar__links-container {
  height: 100%;
  float: right;
}

.navbar__link {
  text-align: center;
  width: 100px;
  display: inline-block;
  height: 100%;
  line-height: $navbar-height;
  text-decoration: none;
  color: black;

  &:hover, &--active {
    background-color: $navbar-link-active;
  }
}
