$about-background: whitesmoke;

$animation-duration: 500ms;

$bp-medium: 918px;
$bp-small: 670px;
$bp-x-small: 420px;

$navbar-height: 60px;
$navbar-link-active: rgba(245, 245, 245, 0.85);

$text-secondary: rgb(105, 105, 105);
