@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
}

main {
  padding: 0 1em;
}

p {
  font-family: 'Markazi Text', serif;
  font-size: 1.35em;
}

@import 'utils/align';
@import 'utils/animate';
@import 'utils/container';
@import 'utils/text';

@import 'components/about';
@import 'components/home';
@import 'components/navbar';
@import 'components/see-more';
