.animate {
  &--fade-down-in {
    @keyframes fadeDownIn {
      from {
        opacity: 0;
        transform: translateY(-3em);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: fadeDownIn $animation-duration ease-in-out;
  }

  &--fade-in {
    @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
    animation: fadeIn $animation-duration ease;
    animation-fill-mode: forwards;
  }
}
